body{
    background-color: dimgray;
}
.nav2{
    background-color: rgb(53, 46, 46);
    color: #e0dcdc;
    font-size: large;
    border-radius: 25px;
    
}

  .nav2 nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav2 ul {
    display: flex;
    list-style: none;
  }
  
  .nav2 li {
    margin: 0 10px;
  }
  
  .nav2 a {
    text-decoration: none;
    color: #e0dcdc;
  }
  .logoR{
    color: rgb(90, 6, 23);
    font-size: xx-large;
    font-weight: bolder;
  }


/* footer */

  .info{
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}
.p1{
    font-weight: bolder;
}
.ion-icon2{
    color: rgb(49, 6, 49);
}
.line{
    margin-top: 5%;
}



/* contact */
section{
  padding: 40px 15%;
}
.contact{
  background: #101010;
  height: 100%;
  width: 70%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(2,2fr);
  align-items: center;
  grid-area: 6rem;
  margin-top: 3%;
}
.contact-img img{
  max-width: 80%;
  width: 720px;
  height: auto;
  border-radius: 10px;
  margin-top: 35%;
}
.contact-form{
  font-size: large;
  color: #fff;
  margin-bottom: 20px;
}
span{
  color: #9004d9;
}
.contact-form p{
  color: #c6c9d8bf;
  letter-spacing: 1px;
  line-height: 26px;
  font-size: 1.1rem;
  margin-bottom: 3.8rem;
}
.contact-form form{
  position: relative;
}
.contact-form form input,
form textarea{
  width: 80%;
  padding: 17px;
  border: none;
  outline: none;
  background: #191919;
  font-size: 1.1rem;
  margin-bottom: 0.7rem;
  border-radius: 10px;
  color: #efe9f1;

}
.contact-form textarea{
     resize: none;
     height: 90px;
}
.contact-form form .btn{
  display: inline-block;
  background: #9004d9;
  font-size: 1.1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  border: 2px solid transparent;
  border-radius: 10px;
  width: 220px;
  transition: ease .20s;
  cursor: pointer;

}
.contact-form form .btn:hover{
  border: 2px solid #9004d9;
  background: transparent;
  transform: scale(1.1);
}



